/* Стилизация кнопки */

 

 .button {
     width: 182px;
     line-height: 19px;
     height: 48px;
     font-weight: 500;
     border-radius: 8px;
     color: var(--white);
     font-family: Roboto;
     font-size: 16px;
     border: 1px;
     transition: opacity 200ms ease-in-out, background 200ms ease-in-out;

 }
 .button:hover {
    cursor: pointer
 }

 .button_primery {
     background-color: var(--primary);
 }
 .button_seconedry {
    background-color: var(--secondary);
}
.alternate {
    background: var(--white);
    color: var(--black);
    border: 1px solid var(--grey-3);
}
.alternate:hover {
    border: 1px solid var(--black);
box-sizing: border-box;



}
.alternate:disabled {
    opacity: 50%;
    background: var(--white);
    color: var(--black);
    cursor: not-allowed;

}
 
 .button_primery:disabled {
    opacity: 50%;
    background-color: var(--primary);
    cursor: not-allowed;
}
.button_seconedry:disabled {
    opacity: 50%;
    background-color: var(--secondary);
    cursor: not-allowed;
}

 .button_primery:hover {
     background-color: #2342C0;

 }
 .button_seconedry:hover {
    background-color: #5028C6;

}