/* Стилизация аккордеона */

.details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    min-height: 72px;
    border: 1px solid #ACB5BD;
    width: 730px;
    
}
.details_summary {
    margin-top: 10px;
    display: block;

}
.details[open] {
    /* display: flex; */
    border-radius: 8px;
    /* max-height: 194px; */
    max-width: 730px;
    border: 1px solid #ACB5BD;
    /* padding: 0.5%; */
    padding-left: 0.5%;
    padding-right: 0.5%;
    
 
}

.details p {
  margin-top: 20px;
  font-size: 16px;
  color: black;
  line-height: 24px;
 
}

.details p:last-child {
    margin-bottom: 0;
}


.details_summary::-webkit-details-marker {  /* нестандартный псевдоэлемент Google Chrome */
    display: none;
}

 
  
 
  
  .details_summary::before {
      position: absolute;
    content: '\25B6';
    padding-right: 0.5em;
    left: 680px;
  }
  
  details[open] > summary::before {
    content: '\25BC';
  }