 
 
.histogram {
--max-h: 85px;
max-width: 354px;
background: #FFFFFF;
border: 1px solid var(--grey-3);
box-sizing: border-box;
border-radius: 8px;
background: url(image.png);

}
.histogram_div_header {
    display: flex;
    justify-content: space-around;
    gap: 40%;
    margin-top: 10px;
    flex-wrap: wrap;

}
.histogram_div_header_title {
padding-left: 20px;
}
.histogram_div_header_title h4 {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
color: var(--black);
}

.histogram_line {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px 10px 10px 15px;
    gap: 0.7px;
    height: var(--max-h);
}
.histogram_line-input {

width: 9px;
height: 35px;
max-height: var(--max-h);
background: var(--blue);

}
.histogram_p {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: var(--black);

opacity: 0.8;

}
.histogram_p_view {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
text-align: right;

color: var(--blue);


}
.header_h3 {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 38px;
color: var(--grey-4);


}

.header {
    height: 30px;
    background-color: antiquewhite;
}