
.root_body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 237px 1fr 384px;
    background-color: #F9FAFC;
    grid-template-areas: "header"
    "body"
    "footer";
}

.header {
    grid-area: header;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 49px

}
 
.header_title {
    align-self: start;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 38px;
/* or 136% */

/* Gray 4 */
color: #495057;

padding: 96px 160px 0px;


}


.header_fa {
    display: none;
}
.ele svg {
    display: none;
}

.body {
    grid-area: body;
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding: 0px 5px;




}

.ele {
    /* flex-basis: 360px; */
    min-width: 357px;
    min-height: 367px;
     display: flex;
     flex-direction: column-reverse;

background: var(--white);
/* Card Shadow */
box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
border-radius: 8px;
}

.ele_header {
    min-height: 46px;
    align-self: center;


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: center;

/* Black */
color: #212429;


}




.footer {
    grid-area: footer;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.footer_title {
 margin-top: 72px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 48px;
/* identical to box height, or 126% */

/* Black */
color: #212429;


}
.footer__body {
    max-width: 640px;

/* p */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
text-align: center;

/* Black */
color: #212429;


}