 
 

 .skeleton {
     display: flex;
     height: 192px;
     width: 579px;
     flex-direction: column;
     justify-content: space-around;
background: #FFFFFF;
/* Gray 3 */
border: 1px solid #ACB5BD;
box-sizing: border-box;
border-radius: 8px;

 }

 .skeleton_haeder {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     gap: 10px;

     

 }

.skeleton_haeder_user_img {
    width: 64px;
    height: 64px;
background: #ACB5BD;
border: 1px solid #ACB5BD;
box-sizing: border-box;
border-radius: 50%;

 }
.skeleton_header_title_block {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
}
 .skeleton_haeder_title {
    align-self: flex-start;
    width: 172px;
    height: 20px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);

 }

 .skeleton_haeder_subtitle {
    align-self: flex-start;
    width: 257px;
    height: 20px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    
 }

 .skeleton_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
 }

 .skeleton_body_text {
    width: 515px;
    height: 20px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    

 }
 